//DO NOT MODIFY THE HTML FILES, CHANGE THE .PUG FILES AND RECOMPILE USING GRUNT - Aaron.

doctype html
html(lang='en-gb')
  include parts/header.pug
  body
    section(class='hero')
      h1(class='hero__title') Empty Project 
      a(class='btn' href='https://github.com/AaronAMcGuire/empty-project' title='Go to Aarons empty project repo')  Go to Aarons Repo 
    include parts/footer.pug
