//DO NOT MODIFY THE HTML FILES, CHANGE THE .PUG FILES AND RECOMPILE USING GRUNT - Aaron.

doctype html
html(lang='en-gb')
  include parts/header.pug
  body
    header
      nav
        ul
          each val in ['placeholder','placeholder','placeholder','placeholder','placeholder']
            li
              a(class='' href='' title='')= val
         
    include parts/footer.pug
